<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="calculator">
      </ion-icon> 
      calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid id="marcoPrincipal">

    
    <ion-row id="marcoLogo">
      <ion-col size="12">
        <img src="../../assets/imagenes/imagencalculadora.png">
      </ion-col>
    </ion-row>

    <ion-row id="marcoPantalla">
      <ion-col size="12">
        <p id="pantalla">{{pantalla}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <p id="reset" class="botonCalculadora" (click)="resetear()">ac</p>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="calcularSeno()">sen</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="calcularCoseno()">cos</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="calcularTangente()">tan</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="elevarPotencia()">pow</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('7')">7</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('8')">8</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('9')">9</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('/')">/</p>
      </ion-col>
    </ion-row>


    


    <ion-row>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('4')">4</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('5')">5</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('6')">6</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('*')">*</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('1')">1</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('2')">2</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('3')">3</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('-')">-</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('0')">0</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('.')">.</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="equal()">=</p>
      </ion-col>
      <ion-col size="3">
        <p class="botonCalculadora" (click)="number('+')">+</p>
      </ion-col>
    </ion-row>

   
  </ion-grid>
</ion-content>
